#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.base-grid {
  width: 1000px;
  height: 800px;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.text-area {
  grid-column: 1 / 6;
  grid-row: 1 / 4;
  resize: none;
}
.button-bar-firstline {
  grid-column: 1 / 6;
  grid-row: 5 / 8;
  display: flex;
  flex-direction: column;
}
.button-bar-secondline {
  grid-column: 1 / 6;
  grid-row: 6 / 7;
  display: flex;
  justify-content: space-between;
}
.button {
  flex: 1;
  width: 40%;
  max-width: 40%;
}
.favoritesDropDown {
  grid-column: 9/ 13;
  grid-row: 1 / 12;
  border: 5px solid white;
  border-radius: 25px;
}

.statusBar {
  grid-column: 1/ 6;
  grid-row: 8 / 9;
  border: 5px solid white;
  border-radius: 25px;
}

.confirmButton {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
  border: 5px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  border-color: green;
}
.confirmButton:disabled {
  border-color: red;
  background-color: gray;
}

.confirmButton:enabled:active {
  border-color: green;
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}
.keyConfirmationDiv {
  grid-column: 6 / 9;
  grid-row: 2 / 3;
}

.buttonAndLabelDiv {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 33%;
}
